@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color:white
}

header {
  position: fixed; /* Fixa o header no topo da página */
  top: 0;
  left: 0;
  width: 100%;
  background-color: white; /* Cor de fundo do header */
  z-index: 1000; /* Z-index alto para sobrepor outros elementos */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave para o header */
  padding: 10px 20px; /* Espaçamento interno do header */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}